body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #FFFFFF;
  position:relative;
  padding-bottom: 3em;
  min-height: 100vh;
  margin-top: auto;
  border: 10px solid rgb(248, 245, 245);
}
a {
    color: #ffffff;
  }
.logo{
    max-height: 38px;
      display:flex;
      justify-content:center;
      align-content:center;    
    }
 .header {
      background-color: #ffffff;
      box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
      position: fixed;
      width: 100%;
      z-index: 3;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}
.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}
.header li a:hover,
.header .menu-btn:hover {
  background-color: #15b300;
}
.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  color: #ff6714;
}
/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  background-color: #db6a00;

}
/* menu icon */
.header .menu-icon {
  cursor: pointer;
  /* display: inline-block; */
 float: right;  
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
.header .menu-icon .navicon {
  background: #383134;
  display: block;
  height: 10px;
  position: relative;
  transition: background .2s ease-out;
  width: 20px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #ffa552;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.header .menu-icon .navicon:before {
  top: 10px;
}
.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

#bienvenida{
<<<<<<< HEAD
    display :block;
    height: 930px;
    background-image: url(data/img/im1.jpg);
=======
    display :none;
<<<<<<< HEAD
    height: 930px;
   /* background-image: url(data/img/im1.jpg);*/
=======
    height: 100%;
   /*  background-image: url(data/img/im1.jpg); */
>>>>>>> upstream/main
<<<<<<< HEAD
>>>>>>> parent of d3eaf54 (Merge branch 'main' of https://github.com/deborah130299/LIM017-data-lovers)
=======
>>>>>>> parent of d3eaf54 (Merge branch 'main' of https://github.com/deborah130299/LIM017-data-lovers)
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    margin: -8px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    
    }
<<<<<<< HEAD
=======

<<<<<<< HEAD
    #resumen{
      display:none;
    }
=======
    
#resumen{
  display:none;
  align-content: center;
}

>>>>>>> upstream/main
<<<<<<< HEAD
>>>>>>> parent of d3eaf54 (Merge branch 'main' of https://github.com/deborah130299/LIM017-data-lovers)
=======
>>>>>>> parent of d3eaf54 (Merge branch 'main' of https://github.com/deborah130299/LIM017-data-lovers)
#datos{
display: none;
height: 930px;
background-image: url(Imag_Proy/fondo\ dibujitos.jpg);
background-size: cover;
background-repeat:no-repeat; 
background-position: center; 
margin:-8px; 
}
#datos{
   /*  margin-top: -40px;
    margin-left: -8px;
    margin-right: -30px; */

    padding:20px;
    font-family: 'Capriola', sans-serif;
    font-size: 16px;

}

#contenedorGeneral{
    margin: 150px auto;
    width: 600px;
}

table{
    background-color: rgb(141, 236, 145);
    text-align: left;
    border-collapse: collapse;
    width:100%;
}

th,td{
<<<<<<< HEAD
    border: solid 1px black;
<<<<<<< HEAD
    padding: 10px;
=======
    padding: 30px;
=======
    /* border: solid 1px rgb(48, 105, 228); */
    padding: 10px;
    text-align: center;
>>>>>>> upstream/main
}
thead{
    background-color:#0484C4  ;
    border-bottom: solid 5px rgb(242, 160, 7);
    color: white;
}
tr:nth-child(even){
    background-color: #64c1ef;
    
>>>>>>> parent of d3eaf54 (Merge branch 'main' of https://github.com/deborah130299/LIM017-data-lovers)
}

thead{
    background-color:rgb(236, 138, 10);
    border-bottom: solid 5px #0F362D;
    color: white;
}

tr:nth-child(even){
    background-color: rgb(212, 208, 199);
}

tr:hover td{
    background-color: #70bdac;
    color: white;
}

.container-fondo{
    flex-direction: row-reverse;
    background: url("Imagenes/fondo.png") no-repeat bottom right;
    background-size: 400px;

}

#inicio {
width: 200px;
height: 70px;
font-family: 'Capriola', sans-serif;
font-size: 18px;
text-transform: uppercase;
letter-spacing: 2.5px;
font-weight: 500;
color: rgb(33, 78, 161);
background-color: rgb(255, 255, 255);
border: 1px solid;
border-radius: 45px;
box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.1);
transition: all 0.3s ease 0s;
cursor: pointer;
font-family: Capriola, sans-serif;
padding-left: -30px;
margin: 100px;
}

h3{
    align-content: center;
    display:flex;
    justify-content: center;
}

#paises,#Gender,#medals,#disciplinas,#Ordenador{
<<<<<<< HEAD
    width: 180px;
    height: 30px;
    font-family: 'Capriola', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: rgb(33, 78, 161);
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-radius: 25px;
    box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    
    font-family: Capriola, sans-serif;
    
    }
    #inicio:hover {
    background-color: #4e4e4e;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);   
}

    .footer{

        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        color: #ffff;
        background-color: rgb(17, 16, 16);
        /* padding:20px 0; */
        /* margin: -8px; */
        
    }


 
=======
width: 19%;
min-height: 4vh ;
font-family: 'Capriola', sans-serif;
font-size: 18px;
text-transform: uppercase;
letter-spacing: 1.5px;
font-weight: 500;
color: rgb(255, 255, 255);
background-color: #F2620F;
border: 1px solid;
border-radius: 18px;
box-shadow: 0px 5px 10px #dd9063a8;
transition: all 0.3s ease 0s;
cursor: pointer;
font-family: Capriola, sans-serif;
text-align: center;
justify-content: center;
}
#inicio:hover {
background-color: #4e4e4e;
box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
color: #fff;
transform: translateY(-7px);   
}
.footer{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
text-align:center;
color: #ffff;
background-color: #0484C4;
/* height: 5%;
margin:-5px; */
}


<<<<<<< HEAD
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        color: #ffff;
        background-color: rgb(17, 16, 16);
        /* padding:20px 0; */
        /* margin: -8px; */
        
    }
/*carrusel*/
#carrusel{
    top: 50px;
}
#carrusel{
    display: none;
}
  .container{
=======
/*carrusel*/
#carrusel{
width: 100%;
display: none;
}
.container{

/*  background-color: white; */
width:100%;

position:relative;
height:100%;
background: cover;

}
.slideshow-container{
max-width: 1000px;
position:relative;
background-size: cover;
background-position: center;

}
ul, li {
padding: 0;
margin: 0;
list-style: none;
}

ul.slider li img{
width: 100%;
height: 500px;
object-fit: cover;

}
.mySlider {
position: relative;
visibility: hidden;
opacity: 0;
}
.mySlides{
display:none;
}     
.prev, .next{
cursor:pointer;
position:absolute;
top:200%;
width:auto;
padding:16px;
color:white;
font-weight:bold;
font-size:18px;
transition:0.6s ease;
border-radius:0 3px 3px 0;
}
.next{
right:0;
border-radius:3px 0 0 3px;
}
.prev{
left:0;
border-radius:3px 0 0 3px;
}

.prev:hover, .next:hover{
background-color:rgba(0,0,0,0.8);
}
.fade{
animation-duration:1.5s;
}
/*video*/
#videorio2016{
    display:block;
    margin-left: -8px;
    margin-right: -10px;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  margin-right: -10px;
  margin-left: -10px;
}

.content {
  display: block;
  position: absolute;
  /* bottom: 0; */
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  font-size: 18px;
  margin: bottom 20px;
  margin-top: 30px;
  text-align: center;
  margin-right: -8px;
  margin-left: 0px;
}

p{
  display: block;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
>>>>>>> upstream/main

   background-color: white;
    width: 1350px;
        position:relative;
       height:150px;
      background: cover;
      
      }
      .slideshow-container{
       max-width: 1000px;
       position:relative;
              background-size: cover;
              background-position: center;
             
      }
      ul, li {
          padding: 0;
          margin: 0;
          list-style: none;
      }
      
      ul.slider li img{
        width: 100%;
        height: 500px;
        object-fit: cover;
      
      }
              .mySlider {
                  position: relative;
                  visibility: hidden;
                  opacity: 0;
              }
      .mySlides{
       display:none;
      }		
       .prev, .next{
              cursor:pointer;
              position:absolute;
              top:200%;
              width:auto;
              padding:16px;
              color:white;
              font-weight:bold;
              font-size:18px;
              transition:0.6s ease;
              border-radius:0 3px 3px 0;
             }
             .next{
              right:0;
              border-radius:3px 0 0 3px;
             }
            .prev{
              left:0;
              border-radius:3px 0 0 3px;
             }
    
             .prev:hover, .next:hover{
              background-color:rgba(0,0,0,0.8);
             }
     .fade{
       animation-duration:1.5s;
             }
             /*video*/
             #videorio2016{
                 display:block;
             }

<<<<<<< HEAD
             #myVideo {
                position: absolute;
                right: 0;
                bottom: 0;
                min-width: 100%; 
                min-height: 100%;
              }
              
              .content {
                position: absolute;
                bottom: 0;
                background: rgba(0, 0, 0, 0.5);
                color: #f1f1f1;
                width: 100%;
                padding: 20px;
              }
              
              #myBtn {
                width: 200px;
                font-size: 18px;
                padding: 10px;
                border: none;
                background: #000;
                color: #fff;
                cursor: pointer;
              }
              
              #myBtn:hover {
                background: #ddd;
                color: black;
              }
 

              
.content2{
display:flex;
justify-content:space-evenly;
background-color:green;
border-radius:5px;
border:blue 1px solid;
padding:10px;
position: absolute;
top: 100px;
}
.content2 > div{
border:black 3px solid;
padding:10px;
border-radius:5px;
background-color:white;
margin: 5%;
justify-content:space-between;
justify-content:space-around;
}
=======

#stadistic{
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  align-content: center;
  color: rgb(23, 42, 133);
  margin-top: 5%;
  overflow-x:auto;
}
#stadistic th,td,tr{
  /* border: solid 1px rgb(48, 105, 228); */
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  padding: 2%;
  text-align: center;
}
#stadistic thead{
  background-color:#0484C4  ;
  border-bottom: solid 5px rgb(242, 160, 7);
  color: white;
}

#stadistic tr:nth-child(even){
  background-color: rgb(242, 160, 7)
  ;
}
>>>>>>> upstream/main
<<<<<<< HEAD
>>>>>>> parent of d3eaf54 (Merge branch 'main' of https://github.com/deborah130299/LIM017-data-lovers)
=======
>>>>>>> parent of d3eaf54 (Merge branch 'main' of https://github.com/deborah130299/LIM017-data-lovers)
