body {
  /* margin: -10px; */
  font-family: Helvetica, sans-serif;
  margin-bottom: 0px;
  min-height: 100vh;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  /* padding: -10px; */
  background-image: url(data/img/fondo-rio.png);
align-content: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
text-align: center;


}
a {
  color: #ffffff;
}
.logo{
  max-height: 38px;
    display:flex;
    justify-content:center;
    align-content:center;    
  }
.header {
    background-color: #ffffff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    margin-left: 10px;
}
.header ul {
margin: 0;
padding: 0;
list-style: none;
overflow: hidden;
background-color: #fff;
}
.header li a {
 /*  display: flex;
  align-items:center; */
display: block;
padding: 20px 20px;
border-right: 1px solid #f4f4f4;
text-decoration: none;
}
.header li a:hover,
.header .menu-btn:hover {
background-color: #15b300;
}
.header .logo {
display: block;
float: left;
font-size: 2em;
padding: 10px 20px;
text-decoration: none;
color: #ff6714;
}
/* menu */
.header .menu {
clear: both;
max-height: 0;
transition: max-height .2s ease-out;
background-color: #db6a00;

}
/* menu icon */
.header .menu-icon {
cursor: pointer;
/* display: inline-block; */
float: right;  
padding: 20px 20px;
position: relative;
user-select: none;
}
.header .menu-icon .navicon {
background: #ffffff;
display: block;
height: 10px;
position: relative;
transition: background .2s ease-out;
width: 30px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
background: #ffa552;
content: '';
display: block;
height: 100%;
position: absolute;
transition: all .2s ease-out;
width: 100%;
}
.header .menu-icon .navicon:before {
top: 20px;
}
.header .menu-icon .navicon:after {
top: -5px;
}

/* menu btn */
.header .menu-btn {
display: none;
}
.header .menu-btn:checked ~ .menu {
max-height: 240px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
top: 0;
}

/* 48em = 768px */
@media (min-width: 48em) {
.header li {
  float: left;
}
.header li a {
  padding: 20px 30px;
}
.header .menu {
  clear: none;
  float: right;
  max-height: none;
}
.header .menu-icon {
  display: none;
}
}
#welcome{
    display :none;
    height: 100%;
   /*  background-image: url(data/img/im1.jpg); */
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    margin: -8px;
    display:flex;
    justify-content: flex-end;
    /* align-items: center; */
    align-items:stretch;
    
    }    
#summary{
  display:none;
}

#data{
display: none;
height: 930px;
/* background-image: url(data/img/fondo-rio.png);
 */background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
margin:-8px; 
padding:20px;
font-family: 'Capriola', sans-serif;
font-size: 16px;
}

#generalContainer{
    margin: 150px auto;
    width: 90%;
     /* display: flex; */
    text-align: center;
    justify-content: space-between;
}

table{
    background-color: #ffffff;
    /* text-align: left; */
    border-collapse: collapse;
    width:100%;
   /*  margin-bottom: 30px; */
}
th,td{
    /* border: solid 1px rgb(48, 105, 228); */
    padding: 10px;
    text-align: left;
}
thead{
    background-color:#0484C4  ;
    border-bottom: solid 5px rgb(242, 160, 7);
    color: white;
}
tr:nth-child(even){
    background-color: #4ad4f3
    ;
}

.container-fondo{
    flex-direction: row-reverse;
    background-size: 400px;
}

#start {
width: 200px;
height: 80px;
font-family: 'Capriola', sans-serif;
font-size: 18px;
text-transform: uppercase;
letter-spacing: 2.5px;
font-weight: 500;
color: rgb(33, 78, 161);
background-color: rgb(255, 255, 255);
border: 1px solid;
border-radius: 45px;
box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.1);
transition: all 0.3s ease 0s;
cursor: pointer;
font-family: Capriola, sans-serif;
padding-left: -30px;
margin: 100px;

}
h3{
align-content: center;
display:flex;
justify-content: center;
color:rgb(255, 255, 255);
background-color:#0484C4;
margin-top:20px;
margin-bottom: 0px;
border-bottom: solid 1px #ffffff;
}

#countries,#gender,#medals,#disciplines,#order{
width: 19%;
min-height: 4vh ;
font-family: 'Capriola', sans-serif;
font-size: 18px;
text-transform: uppercase;
letter-spacing: 1.5px;
font-weight: 500;
color: rgb(255, 255, 255);
background-color: #F2620F;
border: 1px solid;
border-radius: 18px;
box-shadow: 0px 5px 10px #dd9063a8;
transition: all 0.3s ease 0s;
cursor: pointer;
font-family: Capriola, sans-serif;
text-align: center;
justify-content: center;
}
#start:hover {
background-color: #4e4e4e;
box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
color: #fff;
transform: translateY(-7px);   
}
.footer{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
text-align: center;
color: #ffff;
background-color: rgb(17, 16, 16);
}


/*carrusel*/
#carrusel{
width: 100%;
display: none;
}
.container{

/*  background-color: white; */
width:100%;

position:relative;
height:100%;
background: cover;

}
.slideshow-container{
max-width: 1000px;
position:relative;
background-size: cover;
background-position: center;

}
ul, li {
padding: 0;
margin: 0;
list-style: none;
}

ul.slider li img{
width: 100%;
height: 500px;
object-fit: cover;

}
.mySlider {
position: relative;
visibility: hidden;
opacity: 0;
}
.mySlides{
display:none;
}     
.prev, .next{
cursor:pointer;
position:absolute;
top:200%;
width:auto;
padding:16px;
color:white;
font-weight:bold;
font-size:18px;
transition:0.6s ease;
border-radius:0 3px 3px 0;
}
.next{
right:0;
border-radius:3px 0 0 3px;
}
.prev{
left:0;
border-radius:3px 0 0 3px;
}

.prev:hover, .next:hover{
background-color:rgba(0,0,0,0.8);
}
.fade{
animation-duration:1.5s;
}
/*video*/
#videoRio2016{
    display:block;
    margin-left: -8px;
    margin-right: -10px;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  margin-right: -10px;
  margin-left: -10px;
}

.content {
display: block;
position: absolute;
/* bottom: 0; */
background: rgba(0, 0, 0, 0.5);
color: #f1f1f1;
width: 100%;
padding: 20px;
font-size: 18px;
margin: bottom 20px;
margin-top: 30px;
text-align: center;
margin-right: -8px;
margin-left: 0px;
}

p{
  display: block;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#stadistic{
  margin-left: 30%;
  margin-right: 30%;
 /*  display: flex;
  align-content: center; */
  /* padding-left: 20%;
  padding-right: 20%; */
  font-size: 20px;
 color: #04629d ;
}
h4{
  color:#ffffff;
  font-size: larger;
  background-color:#04629d;
  margin-left: 30%;
  margin-right: 30%;
  height: 60px;
  padding-top: 20px;
  
}
